$text-color: #fff;

.application {
  width: 100%;
  max-width: 1720px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.wrapper {
  width: 100%;
  justify-content: space-between;
}

.title {
  margin-bottom: 6px;
  font-weight: 800;
  font-size: calc(24px + 51 * (100vw - 320px) / 1600);
  color: $text-color;
}
