$text-color: #fff;
$accent-color: #007fff;

.benefits {
  width: 100%;
  background-image: url(../public/waves1.png);
  background-size: cover;
}

.benefit {
  max-width: 352px;
  padding: 32px 24px;
  background: #17212b;
  border-top: 10px solid $accent-color;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  &_title {
    font-family: "Gilroy-Regular";
    font-weight: 600;
    font-size: calc(18px + 4 * (100vw / 1920));
    color: $text-color;
  }
  &_text {
    font-family: "Gilroy-Regular";
    font-weight: 500;
    font-size: calc(16px + 4 * (100vw / 1920));
    color: $text-color;
  }
}

.title {
  text-align: center;
  font-family: "Gilroy-Regular";
  font-weight: 500;
  font-size: calc(16px + 4 * (100vw / 1920));
  color: $text-color;
}

.button {
  padding: 10px 15px;
  color: $text-color;
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-size: calc(14px + 4 * (100vw / 1920));
  text-transform: capitalize;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
  }
}
