$text-color: #fff;

.clients {
  height: auto;
  width: 100%;
  max-width: 1720px;
  padding: 150px 100px 0px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
  font-family: "GoshaSans";
  font-weight: 700;
  font-size: calc(35px + 65 * (100vw - 320px) / 1600);
  color: $text-color;
}

.wrapper {
  width: 100%;
  flex-direction: row;
  gap: 20px;
}

@keyframes flipped {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
    animation-timing-function: ease-out;
  }
}

@keyframes unflipped {
  0% {
    transform: rotateY(360deg);
    animation-timing-function: ease-out;
  }
  100% {
    transform: rotateY(0deg);
  }
}

.cardList {
  width: 50%;
  height: calc(70vh - 152px);
  overflow: hidden;
  gap: 20px !important;
}

.card {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  position: relative;
}

.front,
.back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  width: 80%;
  object-fit: contain !important;
  padding: 15px;

  background-image: none;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.flipped {
  animation: flipped 0.8s ease-out;
}

.unflipped {
  animation: unflipped 0.8s ease-out;
}

@media (max-width: 1024px) {
  .clients {
    padding: 100px 20px 20px;
  }

  .wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .cardList {
    width: 100%;
    height: calc(50vh - 152px);
    gap: 15px !important;
    margin: 0px;
  }

  .card {
    border-radius: 15px;
  }

  .front,
  .back {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .clients {
    padding: 100px 20px 20px;
  }

  .wrapper {
    flex-direction: column;
    gap: 15px;
  }

  .cardList {
    width: 100%;
    height: calc(50vh - 152px);
    gap: 15px !important;
    margin: 0px;
  }

  .card {
    border-radius: 15px;
  }

  .front,
  .back {
    padding: 5px;
  }
}
