$text-color: #fff;

.clients {
  height: auto;
  width: 100%;
  max-width: 1720px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
  font-family: "GoshaSans";
  font-weight: 700;
  font-size: calc(35px + 65 * (100vw - 320px) / 1600);
  color: $text-color;
}
.item {
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
}
