@font-face {
  font-family: "Gilroy-UltraLight";
  src: url("./fonts/Gilroy-UltraLight.ttf") format("ttf"),
    url("./fonts/Gilroy-UltraLight.woff2") format("woff2"),
    url("./fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Dela-Gothic-One";
  src: url("./fonts/DelaGothicOne-Regular.ttf") format("ttf");
}

// @font-face {
//   font-family: "Gilroy-Regular";
//   src: url("./fonts/Gilroy-Regular.ttf") format("ttf"),
//     url("./fonts/Gilroy-Regular.woff2") format("woff2"),
//     url("./fonts/Gilroy-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: "Gilroy-Light";
//   src: url("./fonts/Gilroy-Light.ttf") format("ttf"),
//     url("./fonts/Gilroy-Light.woff2") format("woff2"),
//     url("./fonts/Gilroy-Light.woff") format("woff");
// }

// @font-face {
//   font-family: "Gilroy-Extrabold";
//   src: url("./fonts/Gilroy-Extrabold.ttf") format("ttf"),
//     url("./fonts/Gilroy-Extrabold.woff2") format("woff2"),
//     url("./fonts/Gilroy-Extrabold.woff") format("woff");
// }

// @font-face {
//   font-family: "Gilroy-Bold";
//   src: url("./fonts/Gilroy-Bold.ttf") format("ttf"),
//     url("./fonts/Gilroy-Bold.woff2") format("woff2"),
//     url("/fonts/Gilroy-Bold.woff") format("woff");
// }
