@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GoshaSans";
  src: url("./fonts/GoshaSans-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("./fonts/HelveticaNeueCyr-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("./fonts/HelveticaNeueCyr-Medium.ttf");
  font-weight: 700;
  font-style: normal;
}
