$text-color: #fff;
$accent-color: #bb3633;

.header {
  width: 100%;
}

.divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: $text-color;

  &_circle {
    width: 13px;
    height: 13px;
    background-color: $text-color;
    border-radius: 50%;
  }
}

.title {
  margin-bottom: 6px;
  font-family: "GoshaSans";
  font-size: calc(35px + 40 * (100vw - 320px) / 1600);
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1.5px $text-color;
  text-stroke: 1.5px $text-color;
}

.accent {
  color: $accent-color;
  -webkit-text-stroke: 0px;
  text-stroke: 0px;

  &_big {
    font-size: calc(50px + 80 * (100vw - 320px) / 1600);
  }
}

.text {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: calc(15px + 5 * (100vw - 320px) / 1920);
  color: $text-color;

  &_big {
    font-family: "HelveticaNeueCyr-Medium";
    text-transform: uppercase;
  }
}

.extra_number {
  font-family: "GoshaSans";
  font-size: calc(65px + 100 * (100vw - 320px) / 1600);
  color: $text-color;
  font-style: normal;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.05px $text-color;
  text-stroke: 0.05px $text-color;
  line-height: 0.8;
  white-space: nowrap;

  &_text {
    color: $text-color;
    font-family: "GoshaSans";
    font-size: calc(20px + 15 * (100vw - 320px) / 1600);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
