.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  height: max-content;
  width: calc(100% - 10%);
  max-width: 1720px;
  background-color: #0e143c;
}

@media (max-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: auto;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    max-width: auto;
  }
}
