// .container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .wrapper {
//   height: max-content;
//   width: calc(100% - 10%);
//   max-width: 1720px;
//   // margin: 0px 5%;
//   background-color: #0e143c;
// }

.loading {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #0e143c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background {
  height: 100%;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.logo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.name {
  margin: 0;
  font-family: "AnonymousPro";
  font-weight: 400;
  font-size: calc(30px + 15 * (100vw - 320px) / 1600);
  color: #fff;
}

.title {
  margin: 0;
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  color: #fff;
}
