@import "fonts.scss";

.navigation {
  width: 100%;
  position: fixed;
  padding: 30px 15px 0px 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: calc(14px + 4 * (100vw / 1920));
  z-index: 10;
}
