$text-color: #fff;
$accent-color: #bb3633;

.principles {
  width: 100%;
  background-image: url(../public/logo-background.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.accent_title {
  text-align: center;
  font-family: "GoshaSans";
  font-weight: 700;
  font-size: calc(45px + 85 * (100vw - 320px) / 1600);
  line-height: 1;
  color: $accent-color;
  text-transform: uppercase;
}

.title {
  text-align: center;
  font-family: "GoshaSans";
  font-weight: 700;
  line-height: 1;
  font-size: calc(35px + 40 * (100vw - 320px) / 1600);
  color: $text-color;
  text-transform: uppercase;
}

.summary {
  padding: 0px 20px 10px;
  font-family: "Montserrat";
  font-size: calc(20px + 15 * (100vw - 320px) / 1600);
  color: $text-color;
  font-weight: 600;
  text-transform: uppercase;
}

.circle {
  position: absolute;
  top: -6px;
  width: 13px;
  height: 13px;
  background-color: $text-color;
  border-radius: 50%;
}

.details {
  position: relative;
  width: calc(100% + 100px);
  flex-direction: row;
  gap: 16px;
  border-top: 1px solid $text-color;

  &_text {
    padding: 10px 20px 0px;
    font-family: "HelveticaNeueCyr";
    font-size: calc(15px + 5 * (100vw - 320px) / 1600);
    color: $text-color;
  }
}
