$text-color: #fff;
$accent-color: #bb3633;

.projects {
  width: 100%;
  max-width: 1720px;
  background-image: url(../public/background-lines.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}

.container {
  width: 100%;
}
.title {
  margin-bottom: 6px;
  font-family: "GoshaSans";
  font-size: calc(35px + 65 * (100vw - 320px) / 1600);
  color: transparent;
  -webkit-text-stroke: 3.5px $text-color;
  text-stroke: 3.5px $text-color;
}

.wrapper {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.object {
  justify-content: flex-start;

  &_name {
    max-width: 870px;
    padding: 25px 0px 10px 15px;
    font-family: "Montserrat";
    font-size: calc(20px + 15 * (100vw - 320px) / 1600);
    font-weight: 600;
    text-transform: uppercase;
    color: $text-color;

    &_full {
      max-width: 870px;
      padding: 0px 0px 25px 15px;
      font-family: "Montserrat";
      font-size: calc(15px + 10 * (100vw - 320px) / 1600);
      font-weight: 300;
      text-transform: uppercase;
      color: $text-color;
    }
  }
  &_address {
    font-family: "HelveticaNeueCyr";
    font-size: calc(15px + 5 * (100vw - 320px) / 1600);
    font-weight: 300;
    color: $text-color;
  }
}

.info {
  justify-content: flex-start;

  &_number {
    padding-left: 30px;
    width: fit-content;
    position: relative;
    text-align: left;
    font-family: "GoshaSans";
    color: $accent-color;
    font-size: calc(100px + 100 * (100vw - 320px) / 1600);
    font-weight: 700;
    line-height: 1;
  }

  &_measure {
    position: absolute;
    bottom: 0px;
    right: -7%;
    text-align: right;
    font-family: "GoshaSans";
    color: $text-color;
    font-size: 25px;
    font-weight: 700;
  }

  &_title {
    max-width: 760px;
    padding: 30px 20px 20px 20px;
    font-family: "Montserrat";
    font-size: calc(15px + 10 * (100vw - 320px) / 1600);
    font-weight: 600;
    text-transform: uppercase;
    color: $text-color;
  }

  &_list {
    padding: 0px 20px;
    font-family: "HelveticaNeueCyr";
    font-size: calc(15px + 5 * (100vw - 320px) / 1600);
    font-weight: 400;
    line-height: 1.5;
    color: $text-color;

    p {
      margin: 0;
    }
  }
}

.stepper {
  width: inherit;
  background-color: transparent;
  color: $text-color;

  button {
    color: $text-color;
  }

  button:disabled,
  button[disabled] {
    color: rgba(255, 255, 255, 0.5);
  }
}
